# Python Ignores
notebooks/.ipynb_checkpoints/*
*.pyc
*.pyo

# Build Objects
*.o
*.tmp

gosdt_test

# Autobuild Ignores
MANIFEST
Makefile
config.log
config.status
autom4te.cache/*
aclocal.m4
m4
libtool
.deps
gosdt_test
bin
.scon*
.DS_Store

## Xcode User settings
xcuserdata/

.idea/
.DS_Store
._DS_Store
__private/
cmake*/
_skbuild/
dist/
wheelhouse/
*.egg-info/
/gosdt.xcodeproj/xcuserdata/
