# Python Ignores
notebooks/.ipynb_checkpoints/*
*.pyc
*.pyo

# Build Objects
*.o
*.tmp
gosdt
gosdt_test

# Autobuild Ignores
MANIFEST
Makefile
config.log
config.status
autom4te.cache/*
aclocal.m4
m4
libtool
.deps
gosdt
gosdt_test